dist/

nativescript/app/app
nativescript/app/assets
nativescript/app/css/
nativescript/**/*.js
nativescript/**/*.js.map
nativescript/hooks/
nativescript/lib/
nativescript/platforms/

node_modules/

npm-debug.log

src/**/*.js
src/**/*.js.map

typings/