dist/

node_modules/

npm-debug.log

src/**/*.js
src/**/*.js.map
!src/client/app/shared/test
nativescript/app
nativescript/src/app
nativescript/hooks
nativescript/node_modules
nativescript/platforms
nativescript/**/*.js
nativescript/**/*.js.map
nativescript/*.d.ts
!nativescript/references.d.ts
desktop
gulpfile.js
gulpfile.js.map

typings/