# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Angular Multi-Platform Starter
description: > # this means to ignore newlines until "baseurl:"
  The Angular Multi-Platform Starter is the best place to get started building apps
  for the web, for native mobile with NativeScript, and for desktop with Electron.
short_description: "Build apps for the web, mobile and for desktop with one code base."
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site
download_url: "https://github.com/jlooper/basic-web-mobile/archive/master.zip"

# Build settings
markdown: kramdown
kramdown:
  syntax_highlighter: rouge
