<head>
<meta charset="utf-8">
<meta name="description" content="{{ site.description }}">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{{ site.title }}</title>
<link rel="alternate" type="application/rss+xml" title="frittt.com" href="{{ "/feed/index.html" | prepend: site.baseurl }}">
<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet"
        type="text/css">
<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/prettify.css" | prepend: site.baseurl }}">
</head>